<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Whazzzzaaa<h1>
    <form method="post" action ="">
      <h4>What is your name?
        <br>
        <input type="text" name="name"/>
      </h4>
      <h4>Before you begin, choose your weapon and element</h4>
      <h5>Weapon</h5>
        <input type="checkbox" name="weapon" value="">
        <br>
        <input type="checkbox" name="weapon" value="">
        <br>
        <input type="checkbox" name="weapon" value="">
        <br>
        <input type="checkbox" name="weapon" value="">
        <br>
        <input type="checkbox" name="weapon" value="">
      <h5>Element</h5>
        <input type="checkbox" name="element" value="">
        <br>
        <input type="checkbox" name="element" value="">
        <br>
        <input type="checkbox" name="element" value="">
        <br>
        <input type="checkbox" name="element" value="">
        <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>
