<!DOCTYPE html>
<html>

<head>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
  <script src="js/friendspage2.js"></script>
  <title> Juan's Friends </title>
  <link rel="stylesheet" href="stylesheets/friendspage2.css">
</head>

<body>
<!--<h4><a href = "helloworld.html"> Back to Home Page</a></h4>
  <ol>
    <li><strong>Dalia B</strong> <br><img src="peng.jpg" width="300"></br></li>
    <center> Just became and adult but still acts like an energetic child</center>
    <li><strong>Bailey Killmon</strong><br><img src="pigeon.jpeg" width="300"></br></li>
    <center> The most emotionless person. Imagine squidward but nicer.</center>
    <li><strong>Anthony Escobedo</strong><br><img src="ramfan.jpg" width="300"></br></li>
    <center> He likes the Rams</center>
  </ol> -->
  <div class="allheader">

    <section class = "header"><h1>Juan's Glorious Circle of Peeps </h1></section>

    <div class = "slide" >
      <div class="shadow" id = "lightshadow"></div>
      <div class="shadow" id="darkshadow"></div>

      <div class="backtab">
        <a href = "mypage.html"> Back to Home Page</a>
        <a href = "mypage.html"> Back to Home Page</a>
        <a href = "mypage.html"> Back to Home Page</a>
        <a href = "mypage.html"> Back to Home Page</a>
      </div>
    </div>
  </div>

    <div class = "imagebox">
      <div class ="innerbox">
        <center><strong>Dalia B</strong></center>
        <img src="images/peng.jpg" >
        <div class = "textslide"><center>Just became and adult but still acts like an energetic child</center></div>
      </div>
    </div>

    <div class = "imagebox">
      <div class ="innerbox">
        <center><strong>Bailey Killmon</strong></center>
        <img src="images/pigeon.jpeg">
        <div class = "textslide"><center>Imagine squidward but nicer</center></div>
      </div>
    </div>

    <div class = "imagebox">
      <div class ="innerbox">
        <center><strong>Anthony Escobedo</strong></center>
        <img src="images/ramfan.jpg">
        <div class = "textslide"><center>He likes the Rams</center></div>
      </div>
    </div>

    <div class = "imagebox">
      <div class ="innerbox">
        <img src="images/wolf.jpg" >
        <div class = "textslide"><center>It works</center/></div>
      </div>
    </div>

    <div class = "imagebox">
      <div class ="innerbox">
        <img src="images/owl.jpeg">
        <div class = "textslide"><center>It works</center></div>
      </div>
    </div>

    <div class = "imagebox">
      <div class ="innerbox">
        <img src="images/deer.jpeg">
        <div class = "textslide"><center>It works</center></div>
      </div>
    </div>

  </div>
</body>
</html>
