<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <form method = "post" action="">
      <h3>What is your name good looking?<input type="text" name="name"/></h3>
      <h3>What brings you to a place like this?
        <br>
        <input type="radio" name="reason" value="link">You were given a link
        <br>
        <input type="radio" name="reason" value="presenting">It was presented to you
        <br>
        <input type="radio" name="reason" value="bored">You got nothing else to do
        <br>
        <input type="radio" name="reason" value="love">Becuase you want me
        <br>
        <input type="radio" name="reason" value="idea">You have no idea
        <br>
        <input type="radio" name="reason" value="love">Becuase you want me.<font size="2">(Just incase you missed the last one)</font>
      </h3>
      <h3>What is your favorite kind of food <input type="text" name="food"/></h3>
      <h3>Would you rather:
        <br>
        <input type="radio" name="do" value="rather1"> Start a staring contest with an owl
        <br>
        <input type="radio" name="do" value="rather2"> Breakdance with a sloth
        <br>
        <input type="radio" name="do" value="rather3"> Go on a date with me
        <br>
        <input type="radio" name="do" value="rather4"> Eat an Apple computer
        <br>
        <input type="radio" name="do" value="rather5"> Search for Google in Bing
        <br>
        <input type="radio" name="do" value="rather6"> Pour milk before cereal
        <br>
        <input type="radio" name="do" value="rather7"> With me, you go on a date
        <br>
        <input type="radio" name="do" value="rather8"> Ask Siri what 0/0 is
      </h3>
      <h3>The place you want to be:
        <br>
        <input type="radio" name="action" value="if1"> With me
        <input type="radio" name="action" value="if2"> At my house
        <input type="radio" name="action" value="if3"> Mexico
        <input type="radio" name="action" value="if4"> GoogleMaps
        <input type="radio" name="action" value="if5"> Not here
        <input type="radio" name="action" value="if6"> North Pole
        </menu>
        </menu>
    </form>
  </body>
</html>
